.nextflow*
work/
data/
results/
.DS_Store
testing/
testing*
*.pyc
null/
.claude/
.nf-test.log
.nf-test/
.lineage

# MkDocs
site/
.cache/

# transcripts etc.
resources

# test output
.nf-test-*.nf
.pixi/
.venv/
